.tag {
  color: #505050;
  height: 70%;
  margin: auto;
  font-size: 13px;
  padding: 5px 10px 5px 10px;
  background-color: white;
  color: #505050;
  border: 1px solid #c0c0c0;
}

.trending-tag {
  border: solid 1px #a5a5a5;
}

.tag-stick {
  background-color: #f68d21;
  color: white;
  border-color: white;
}

@media only screen and (min-width: 700px) {
  .tag-normal:hover {
    cursor: pointer;
    background-color: #9fcf5a;
    color: white;
  }
}
