@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}   
<style>
    .line {
        fill: none;
        stroke: #ffab00;
        stroke-width: 3;
    }



    .axis path,
    .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    .axis text {
        font-size: 10px;
    }
</style>
<div class="row" style="background-color: #f9fafb">
    <br />
    <br />
    <h3>Directory of Group Calls and Webinars for the Quarantined</h3>
    <div class="row">
        <div class="col-sm-10">
            <div class="form-group has-search">
                <span><img src="~/images/search.png" class="Search-icon" /></span>
                <input type="text" class="form-control" placeholder="Search">
            </div>
        </div>
        <div class="col-sm-2">
            <button class="Add-button"><img src="~/images/add.png" class="Add-icon"/> ADD</button>
        </div>
    </div>
</div>
<div class="row div-card">
    <p>
        <button class="btn-categories-more" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            <img src="~/images/menu.png" class="menu-categories" /> &nbsp; All Categories
        </button>
        <button class="btn-categories" type="button">
            COVID 19
        </button>
        <button class="btn-categories" type="button">
            HEALTH
        </button>
        <button class="btn-categories" type="button">
            FOR KIDS
        </button>
        <button class="btn-categories" type="button">
            MOMS
        </button>
        <button class="btn-categories" type="button">
            BUSINESS
        </button>
    </p>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </div>
    </div>
</div>
<br />
<div class="row div-card-live">
    <div class="card-live">
        <div class="row">
            <div class="col-sm-1">
                <p>
                    <img src="~/images/live.png" class="live-circle" />
                </p>
            </div>
            <div class="col-sm-4">
                <a href="#">LIVE : COVID 19 INFO SESSION</a><br />
                <h5>JOHNS HOPKINS UNIVERSITY</h5>
            </div>
            <div class="col-sm-2">
                <h5>Topic: Health</h5>
                <h5>Webinar, English</h5>
            </div>
            <div class="col-sm-4">
                <h5>MAR 15 2020 &nbsp;&nbsp; 8:00 PM - 9:30 PM EST</h5>
            </div>
            <div class="col-sm-1">
                <button class="btn-categories-more" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
                    <img src="~/images/more.png" class="menu-categories" />
                </button>
            </div>
        </div>
        <div class="collapse" id="collapseExample2">
            <hr />
            <div class="card card-body" style="padding: 3px 40px 3px 40px">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
        </div>
    </div>
    <br />
    <div class="card-live">
        <div class="row">
            <div class="col-sm-1">
                <p>
                    <img src="~/images/live.png" class="live-circle" />
                </p>
            </div>
            <div class="col-sm-4">
                <a href="#">LIVE : COVID 19 INFO SESSION</a><br />
                <h5>JOHNS HOPKINS UNIVERSITY</h5>
            </div>
            <div class="col-sm-2">
                <h5>Topic: Health</h5>
                <h5>Webinar, English</h5>
            </div>
            <div class="col-sm-4">
                <h5>MAR 15 2020 &nbsp;&nbsp; 8:00 PM - 9:30 PM EST</h5>
            </div>
            <div class="col-sm-1">
                <button class="btn-categories-more" type="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
                    <img src="~/images/more.png" class="menu-categories" />
                </button>
            </div>
        </div>
        <div class="collapse" id="collapseExample3">
            <hr />
            <div class="card card-body" style="padding: 3px 40px 3px 40px">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
        </div>
    </div>
    <br />
    <div class="card-live">
        <div class="row">
            <div class="col-sm-1">
                <p>
                    <img src="~/images/live.png" class="live-circle" />
                </p>
            </div>
            <div class="col-sm-4">
                <a href="#">LIVE : COVID 19 INFO SESSION</a><br />
                <h5>JOHNS HOPKINS UNIVERSITY</h5>
            </div>
            <div class="col-sm-2">
                <h5>Topic: Health</h5>
                <h5>Webinar, English</h5>
            </div>
            <div class="col-sm-4">
                <h5>MAR 15 2020 &nbsp;&nbsp; 8:00 PM - 9:30 PM EST</h5>
            </div>
            <div class="col-sm-1">
                <button class="btn-categories-more" type="button" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample">
                    <img src="~/images/more.png" class="menu-categories" />
                </button>
            </div>
        </div>
        <div class="collapse" id="collapseExample4">
            <hr />
            <div class="card card-body" style="padding: 3px 40px 3px 40px">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
        </div>
    </div>
    <br />
    <div class="card-live">
        <div class="row">
            <div class="col-sm-1">
                <p>
                    <img src="~/images/live.png" class="live-circle" />
                </p>
            </div>
            <div class="col-sm-4">
                <a href="#">LIVE : COVID 19 INFO SESSION</a><br />
                <h5>JOHNS HOPKINS UNIVERSITY</h5>
            </div>
            <div class="col-sm-2">
                <h5>Topic: Health</h5>
                <h5>Webinar, English</h5>
            </div>
            <div class="col-sm-4">
                <h5>MAR 15 2020 &nbsp;&nbsp; 8:00 PM - 9:30 PM EST</h5>
            </div>
            <div class="col-sm-1">
                <button class="btn-categories-more" type="button" data-toggle="collapse" data-target="#collapseExample5" aria-expanded="false" aria-controls="collapseExample">
                    <img src="~/images/more.png" class="menu-categories" />
                </button>
            </div>
        </div>
        <div class="collapse" id="collapseExample5">
            <hr />
            <div class="card card-body" style="padding: 3px 40px 3px 40px">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
        </div>
    </div>
    <br />
    <div class="card-live">
        <div class="row">
            <div class="col-sm-1">
                <p>
                    <img src="~/images/live.png" class="live-circle" />
                </p>
            </div>
            <div class="col-sm-4">
                <a href="#">LIVE : COVID 19 INFO SESSION</a><br />
                <h5>JOHNS HOPKINS UNIVERSITY</h5>
            </div>
            <div class="col-sm-2">
                <h5>Topic: Health</h5>
                <h5>Webinar, English</h5>
            </div>
            <div class="col-sm-4">
                <h5>MAR 15 2020 &nbsp;&nbsp; 8:00 PM - 9:30 PM EST</h5>
            </div>
            <div class="col-sm-1">
                <button class="btn-categories-more" type="button" data-toggle="collapse" data-target="#collapseExample6" aria-expanded="false" aria-controls="collapseExample">
                    <img src="~/images/more.png" class="menu-categories" />
                </button>
            </div>
        </div>
        <div class="collapse" id="collapseExample6">
            <hr />
            <div class="card card-body" style="padding: 3px 40px 3px 40px">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
        </div>
    </div>
    <br />
    <div class="card-live">
        <div class="row">
            <div class="col-sm-1">
                <p>
                    <img src="~/images/live.png" class="live-circle" />
                </p>
            </div>
            <div class="col-sm-4">
                <a href="#">LIVE : COVID 19 INFO SESSION</a><br />
                <h5>JOHNS HOPKINS UNIVERSITY</h5>
            </div>
            <div class="col-sm-2">
                <h5>Topic: Health</h5>
                <h5>Webinar, English</h5>
            </div>
            <div class="col-sm-4">
                <h5>MAR 15 2020 &nbsp;&nbsp; 8:00 PM - 9:30 PM EST</h5>
            </div>
            <div class="col-sm-1">
                <button class="btn-categories-more" type="button" data-toggle="collapse" data-target="#collapseExample7" aria-expanded="false" aria-controls="collapseExample">
                    <img src="~/images/more.png" class="menu-categories" />
                </button>
            </div>
        </div>
        <div class="collapse" id="collapseExample7">
            <hr />
            <div class="card card-body" style="padding: 3px 40px 3px 40px">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
        </div>
    </div>
    <br />
    <div class="card-live">
        <div class="row">
            <div class="col-sm-1">
                <p>
                    <img src="~/images/live.png" class="live-circle" />
                </p>
            </div>
            <div class="col-sm-4">
                <a href="#">LIVE : COVID 19 INFO SESSION</a><br />
                <h5>JOHNS HOPKINS UNIVERSITY</h5>
            </div>
            <div class="col-sm-2">
                <h5>Topic: Health</h5>
                <h5>Webinar, English</h5>
            </div>
            <div class="col-sm-4">
                <h5>MAR 15 2020 &nbsp;&nbsp; 8:00 PM - 9:30 PM EST</h5>
            </div>
            <div class="col-sm-1">
                <button class="btn-categories-more" type="button" data-toggle="collapse" data-target="#collapseExample8" aria-expanded="false" aria-controls="collapseExample">
                    <img src="~/images/more.png" class="menu-categories" />
                </button>
            </div>
        </div>
        <div class="collapse" id="collapseExample8">
            <hr />
            <div class="card card-body" style="padding: 3px 40px 3px 40px">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
        </div>
    </div>
    <br />
    <div class="card-live">
        <div class="row">
            <div class="col-sm-1">
                <p>
                    <img src="~/images/live.png" class="live-circle" />
                </p>
            </div>
            <div class="col-sm-4">
                <a href="#">LIVE : COVID 19 INFO SESSION</a><br />
                <h5>JOHNS HOPKINS UNIVERSITY</h5>
            </div>
            <div class="col-sm-2">
                <h5>Topic: Health</h5>
                <h5>Webinar, English</h5>
            </div>
            <div class="col-sm-4">
                <h5>MAR 15 2020 &nbsp;&nbsp; 8:00 PM - 9:30 PM EST</h5>
            </div>
            <div class="col-sm-1">
                <button class="btn-categories-more" type="button" data-toggle="collapse" data-target="#collapseExample9" aria-expanded="false" aria-controls="collapseExample">
                    <img src="~/images/more.png" class="menu-categories" />
                </button>
            </div>
        </div>
        <div class="collapse" id="collapseExample9">
            <hr />
            <div class="card card-body" style="padding: 3px 40px 3px 40px">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div id="svg" class="col-sm-12">

    </div>
</div>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script>
    //d3.select("#graph").append("h1").text("my graphic")

    var lineData = [];
lineData.push({date:new Date(2019, 01, 04), nps:89});
lineData.push({date:new Date(2019, 01, 11), nps:96});
lineData.push({date:new Date(2019, 01, 18), nps:87});
lineData.push({date:new Date(2019, 01, 25), nps:99});
lineData.push({date:new Date(2019, 02, 04), nps:83});
lineData.push({date:new Date(2019, 02, 11), nps:93});
lineData.push({date:new Date(2019, 02, 18), nps:79});
lineData.push({date:new Date(2019, 02, 25), nps:94});
lineData.push({date:new Date(2019, 03, 4), nps:89});
lineData.push({date:new Date(2019, 03, 11), nps:93});
lineData.push({date:new Date(2019, 03, 18), nps:81});


lineData.sort(function(a,b){
    return new Date(b.date) - new Date(a.date);
});



var height  = 200;
var width   = 700;
var hEach   = 40;

var margin = {top: 20, right: 15, bottom: 25, left: 25};

width =     width - margin.left - margin.right;
height =    height - margin.top - margin.bottom;

var svg = d3.select('body').append("svg")
  .attr("width",  width + margin.left + margin.right)
  .attr("height", height + margin.top + margin.bottom)
  .append("g")
  .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

// set the ranges
var x = d3.scaleTime().range([0, width]);
  
x.domain(d3.extent(lineData, function(d) { return d.date; }));


var y = d3.scaleLinear().range([height, 0]);


y.domain([d3.min(lineData, function(d) { return d.nps; }) - 5, 100]);

var valueline = d3.line()
        .x(function(d) { return x(d.date); })
        .y(function(d) { return y(d.nps);  })
        .curve(d3.curveMonotoneX);

svg.append("path")
    .data([lineData]) 
    .attr("class", "line")  
    .attr("d", valueline); 

//  var xAxis_woy = d3.axisBottom(x).tickFormat(d3.timeFormat("Week %V"));
var xAxis_woy = d3.axisBottom(x).ticks(11).tickFormat(d3.timeFormat("%y-%b-%d")).tickValues(lineData.map(d=>d.date));

svg.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis_woy);

//  Add the Y Axis
//  svg.append("g").call(d3.axisLeft(y));

svg.selectAll(".dot")
    .data(lineData)
    .enter()
    .append("circle") // Uses the enter().append() method
    .attr("class", "dot") // Assign a class for styling
    .attr("cx", function(d) { return x(d.date) })
    .attr("cy", function(d) { return y(d.nps) })
    .attr("r", 5);  


svg.selectAll(".text")
    .data(lineData)
    .enter()
    .append("text") // Uses the enter().append() method
    .attr("class", "label") // Assign a class for styling
    .attr("x", function(d, i) { return x(d.date) })
    .attr("y", function(d) { return y(d.nps) })
    .attr("dy", "-5")
    .text(function(d) {return d.nps; });

svg.append('text')                                     
      .attr('x', 10)              
      .attr('y', -5)             
      .text('Almaty'); 



</script>